/**
 *
 *
 */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 16px;
  background: #7cb342;
  color: #fff;
  font-family: 'Source Sans Pro'; }

h1 {
  font-size: 2.8em;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0.6rem 0; }
  h1 > span {
    font-weight: 300; }

h2 {
  font-size: 1.15em;
  font-weight: 300;
  margin: 0.3rem 0; }

a {
  color: #FFF;
  font-weight: 700;
}

code {
  background: rgba(0, 0, 0, 0.5);
  padding: 25px;
}

.main {
  width: 95%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  opacity: 1; }
  div.main header {
    width: 100%; }
    div.main header > div {
      width: 50%; }
  div.main .content {
    margin: auto;
    width: 100%;
    display: inherit;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;  }    
    div.main .content > *{
      padding: 50px 0;
    }

/**
 * Util classes
 */
.left {
  float: left; }

.right {
  float: right; }

.cf, div.main header {
  content: "";
  display: table;
  clear: both; }

/**
 * Buttons
 */
.btn {
  color: #fff;
  padding: .75rem 1.25rem;
  border: 2px solid #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: transform .1s ease-out, border .1s ease-out, background-color .15s ease-out, color .1s ease-out;
  margin: 2rem 0; }
  .btn:hover {
    transform: scale(1.01562);
    background-color: #fff;
    color: #7cb342; }